<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="calisan" class="com.mimaraslan.Calisan" autowire="default" depends-on="adres">
		<property name="adi" value="Gökçe"/>
		<property name="soyadi" value="Yurdakul"/>
	</bean>

	<bean id="adres" class="com.mimaraslan.Adres">
		<property name="tamAdres" value="Türkiye Ankara" />
	</bean>

</beans>
