<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="personelServisBean"
		class="com.mimaraslan.PersonelServis">
		<property name="adi" value="Şenol" />
		<property name="soyadi" value="Akbaş" />
		<property name="tecrube" value="2" />
	</bean>

	<bean id="cagirilanMetodunOncesiVeSonrasiOzellikleriBean"
		class="com.mimaraslan.aop.CagirilanMetodunOncesiVeSonrasiOzellikleri" />


	<bean id="basitBirPointcutBean"
		class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedName" value="selamVer" />
	</bean>

	<bean id="basitBirAdvisorBean"
		class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="mappedName" value="adiSoyadiKontrolEt" />
		<property name="advice"
			ref="cagirilanMetodunOncesiVeSonrasiOzellikleriBean" />
	</bean>

	<bean id="personelServisBeanProxy"
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

	<!-- <bean id="personelServisBeanProxy" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="target" ref="personelServisBean" /> <property name="interceptorNames"> 
		<list> <value>cagirilanMetodunOncesiVeSonrasiOzellikleriBean</value> </list> 
		</property> </bean> -->
</beans>
